body{
    background-color: skyblue;
    font-family: cursive;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

}
.h1 {
    color: brown;
    text-align: left;
}
#h1 {
    color: brown;
    text-align: center;
    font-size: 48px;
}
.h2 {
    color: green;
}
#p2 {
    color:saddlebrown;
}
table,table th, table td{
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 50%;
}
table th{
    background-color: lightgray;
}
table td{
    background-color: lightyellow;
}
fieldset{
    margin-left: 400px;
    margin-right: 400px;
    border: black 2px solid;
    background-color: blanchedalmond;
}
ul li {
    display: inline-flex;
    margin-left: 100px;
    
}
li:hover{
    color: red;
    font-size: 20px;
    background-color: lemonchiffon;
    border-radius: 15px;
    padding: 7px;
}
a{
    color: black
}
ol {
    display: inline-table;
}
ol li {
    padding-top: 19px;
}

    